{% extends 'base.html' %}

{% block content %}
  <h2>Driver info:</h2>
  <h4>
    <strong>Cars: </strong>
  </h4>
  <p>
    {% for car in driver.cars.prefetch_related %}
      <li>
        <strong>Model: </strong>{{ car.model }},
        <strong>Manufacturer: </strong>{{ car.manufacturer.name }} / {{ car.manufacturer.country }}
      </li>
    {% empty %}
      <strong>This driver has no cars attached.</strong>
    {% endfor %}
  </p>
  <p>
    <strong>Username: </strong>{{ driver.username }}
  </p>
  <p>
    <strong>Fullname: </strong>{{ driver.first_name }} {{ driver.last_name }}
  </p>
  <p>
    <strong>Licence number: </strong>{{ driver.license_number }}
  </p>
  <p>
    <strong>Email: </strong>{{ driver.email }}
  </p>
  <p>
    <strong>Date of hiring: </strong>{{ driver.date_joined }}
  </p>

{% endblock %}
